<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" navigation-header"><span>General</span><i class=" feather icon-minus" data-toggle="tooltip"
                    data-placement="right" data-original-title="General"></i>
            </li>
            <li class=" nav-item" *ngFor="let item of settings"><a [routerLink]="[item.link]" routerLinkActive="router-link-active" *ngIf="userService.hasPermission(item.role)"><i class="{{item.icon}}"></i><span class="menu-title"
                        data-i18n="Dashboard">{{item.title}}</span></a>
                        
            </li>
        </ul>
    </div>
</div>