$color-yellow-base: #F3AA18;
$color-green-base: #2FA84F;
$color-red-base: #EA3D2F;
$color-blue-base:#367BF5;

$color-yellow-smooth: #FCF3D7;
$color-green-smooth: #DCF7E3;
$color-red-smooth:  #FEE4E2;
$color-blue-smooth: #E6EFFF;
$color-blue-light: #00B1E9;
$color-blue-lighter: #BFDEFF;

$color-gray-10: #F7F9FA;
$color-gray-20:  #F1F3F4;
$color-gray-30:#E3E5E6;
$color-gray-40: #C6CACC;
$color-gray-60: #919699;
$color-gray-80: #5E6366;
$color-gray-90: #3E4345;
$color-dark: #212121;

$color-gradient-warning-2_1: linear-gradient(45deg, #FEBD46 0%, #FBB53D 22%, #F3A125 55%, #E87202 100%);
$box-shadow-dark: 4px 0px 30px rgba(0, 0, 0, 0.0402098);