<div class="app-content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
      <div class="content-body"><section class="row flexbox-container">
  <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
          <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
              <div class="card-header border-0 pb-0">
                  <div class="card-title text-center">
                    <div class="p-1">
                        <h1>Reset password</h1>
                    </div>
                  </div>
                  <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>We will send
                          you a code to reset password.</span></h6>
              </div>
              <div class="card-content">
                  <div class="card-body" *ngIf="!isClicked">
                      <form class="form-horizontal">
                          <fieldset class="form-group position-relative has-icon-left">
                              <input type="email" class="form-control form-control-lg" id="user-email"
                                  placeholder="Your Email Address" [(ngModel)]="userEmail" name="user-email">
                              <div class="form-control-position">
                                  <i class="feather icon-mail"></i>
                              </div>
                          </fieldset>
                          <button type="button" class="btn btn-outline-primary btn-lg btn-block" (click)="onSendCode()" [disabled]="isLoading"><i
                                  class="feather icon-unlock"></i> Send Code</button>
                      </form>
                  </div>
                  <div class="card-body" *ngIf="isClicked">
                    <form class="form-horizontal">
                        <div style="display: flex; justify-content: space-between;margin-bottom: 20px;">
                            <input type="text" maxlength="1" class="form-control text-center" [(ngModel)]="num1" name="num1">
                            <input type="text" maxlength="1" class="form-control text-center" [(ngModel)]="num2" name="num2">
                            <input type="text" maxlength="1" class="form-control text-center" [(ngModel)]="num3" name="num3">
                            <input type="text" maxlength="1" class="form-control text-center" [(ngModel)]="num4" name="num4">
                            <input type="text" maxlength="1" class="form-control text-center" [(ngModel)]="num5" name="num5">
                            <input type="text" maxlength="1" class="form-control text-center" [(ngModel)]="num6" name="num6">
                        </div>
                        <div class="form-group row">
                            <div class="col-12 text-right">
                                <span>Don't received any email? Resend after {{timeLeft}}s <button type="button" [disabled]="disabledResend"  (click)="sendNewCode()" class="btn-primary">Resend</button></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-md-4 col-form-label">New password</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" placeholder="********" name="password" [(ngModel)]="password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-md-4 col-form-label">Confirm new password</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" placeholder="********" name="confirmPassword" [(ngModel)]="confirmPassword">
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-primary btn-lg btn-block" (click)="onChangePassword()"><i
                                class="feather icon-unlock"></i> Change password</button>
                    </form>
                </div>
              </div>
              <div class="card-footer border-0">
                  <p class="float-sm-left text-center"><a [routerLink]="['/login']"  class="card-link">Login</a></p>
              </div>
          </div>
      </div>
  </div>
</section>
      </div>
    </div>
  </div>